  
/* jungle the pitch */

  
.more {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #16b0e3;
    background-image: -moz-linear-gradient(top, #19b7eb, #13a7d7);
    background-image: -ms-linear-gradient(top, #19b7eb, #13a7d7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19b7eb), to(#13a7d7));
    background-image: -webkit-linear-gradient(top, #19b7eb, #13a7d7);
    background-image: -o-linear-gradient(top, #19b7eb, #13a7d7);
    background-image: linear-gradient(to bottom, #19b7eb, #13a7d7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15b6ea', endColorstr='#13a3d2', GradientType=0);
    border: none;
    border-top: rgba(255,255,255,0.2) 1px solid;
    border-bottom: rgba(0,0,0,0.4) 1px solid;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .more:hover {
    background-color: #13a8d8;
    background-image: -moz-linear-gradient(top, #14aee0, #12a0ce);
    background-image: -ms-linear-gradient(top, #14aee0, #12a0ce);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14aee0), to(#12a0ce));
    background-image: -webkit-linear-gradient(top, #14aee0, #12a0ce);
    background-image: -o-linear-gradient(top, #14aee0, #12a0ce);
    background-image: linear-gradient(to bottom, #14aee0, #12a0ce);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13abdc', endColorstr='#129cc9', GradientType=0);
    cursor: pointer;
    text-decoration: none;
  }
  .more.wider {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  
  form {
    margin: 0 auto;
    padding: 0;
    width: 600px;
  }
  form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  form .form_row {
    margin: 0 0 10px 0;
    position: relative;
  }
  form .input input, form .input textarea {
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: white;
    border: 1px solid #cccccc;
    color: #13a7d7;
    display: inline-block;
    height: 45px;
    font-size: 0.75em;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    padding: 10px 20px 10px 100px;
    width: 100%;
  }
  form .input textarea {
    height: 250px;
  }
  form .input label {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #333333;
    cursor: text;
    font-size: 0.8em;
    font-weight: 400;
    position: absolute;
    top: 12px;
    left: 15px;
  }
  form .input.active input, form .input.active textarea {
    padding-left: 120px;
  }
  form .input.active input:required:invalid, form .input.active textarea:required:invalid {
    border: 1px solid #e9322d;
    color: #e9322d;
  }
  form .input.active input:required:invalid + label, form .input.active textarea:required:invalid + label {
    background: #e9322d;
  }
  form .input.active input:required:invalid:focus + label, form .input.active textarea:required:invalid:focus + label {
    background: #e9322d;
  }
  form .input.active label {
    -moz-border-radius: 14px 0 0 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px 0 0 14px;
    color: white;
    background: #13a7d7;
    top: 0;
    left: 0;
    padding: 13px 10px;
    text-align: center;
    width: 100px;
  }
  form .input.active label span {
    color: white !important;
  }
  form .input.active textarea + label {
    -moz-border-radius: 14px 0;
    -webkit-border-radius: 14px;
    border-radius: 14px 0;
  }
  form :-moz-placeholder {
    color: #777777;
  }
  form :-ms-input-placeholder {
    color: #777777;
  }
  form ::-webkit-input-placeholder {
    color: #777777;
  }
  
  @media only screen and (min-width: 768px) {
    [class*="span"] {
      display: block;
      float: left;
      min-height: 30px;
      /* margin-left: 2.564102564102564%; */
    }
  
    .span6 {
      width: 48.717948717948715%;
      *width: 48.664757228587014%;
    }
  
    .span12 {
      width: 100%;
      *width: 99.94680851063829%;
    }
  }
  
  /* ui slider pips */
      .ui-slider-number {
        color: white;
        font-size: 18x;
      }

      .ui-slider-horizontal.ui-slider-pips { margin-bottom: 6.8em; min-width: 500px;}
      .ui-slider-pips .ui-slider-number,
      .ui-slider-pips .ui-slider-pip-hide { display: none; }
      .ui-slider-pips .ui-slider-pip-number .ui-slider-number { display: block; }
      
      
      
      .ui-slider-pips .ui-slider-pip { 
          width: 2em; height: 1em; line-height: 1em; position: absolute;
          font-size: 0.8em; color: #999; overflow: visible; text-align: center;
          top: 20px; left: 20px; margin-left: -1em; cursor: pointer;
      }
      .ui-slider-pips .ui-slider-line { background: #999; width: 1px; height: 3px; position: absolute; left: 50%; }
      .ui-slider-pips .ui-slider-number { position: absolute; top: 5px; left: 50%; margin-left: -1em; width: 2em; }
      .ui-slider-pip:hover .ui-slider-number { color: white; font-weight: bold; }
  
  
  
  
      .ui-slider-vertical.ui-slider-pips { margin-bottom: 0; margin-right: 2em; }
      .ui-slider-vertical.ui-slider-pips .ui-slider-pip { 
          text-align: left; top: 20px; left: 20px; margin-left: 0; margin-top: -0.5em;
      }
      .ui-slider-vertical.ui-slider-pips .ui-slider-line { width: 3px; height: 1px; position: absolute; top: 50%; left: 0; }
      .ui-slider-vertical.ui-slider-pips .ui-slider-number { top: 50%; left: 0.5em; margin-left: 0; margin-top: -0.5em; width: 2em; }
      .ui-slider-vertical.ui-slider-pip:hover .ui-slider-number { color: white; font-weight: bold; }
   
  
  
    .ui-slider-float .ui-slider-handle {
    
    }
  
    .ui-slider-float .ui-slider-tip {
      position: absolute;
      top: -30px;
      width: 34px; margin-left: -17px; left: 50%;
      height: 20px; line-height: 20px; 
      background: white; border-radius: 3px;
      box-shadow: 0 0 3px rgba(0,0,0,0.4);
      text-align: center;
      font-size: 9px;
      opacity: 0; transition: all 0.4s ease;
    }
  
    .ui-slider-float:hover .ui-slider-tip { opacity: 0.9; }
    
    .ui-slider-float .ui-slider-tip:after {
      content: " ";
      width: 0; height: 0;
      border: 5px solid rgba(255,255,255,0);
      border-top-color: rgba(255,255,255,1);
      position: absolute;
      bottom: -10px; left: 50%; margin-left: -5px;
      
    }
  
  
  
  
  .wrapper { padding: 40px 40px 0; border: 1px dotted rgba(200,200,255,0.6); background: rgba(0,10,20,0.7); border-radius: 10px;  }
  .ui-slider { box-shadow: inset 0 2px 1px #aaa; border-color: #000; }
  
  .ui-slider-horizontal { height: 10px; background: #eeffc5; }
  .ui-slider-horizontal .ui-slider-handle { height: 18px; width: 14px; background: #2cafe3; border: 1px solid rgba(0,0,0,0.6); margin-left: -7px; cursor: pointer; }
  
  
  @media (max-width: 700px) {
    .ui-slider-pip:nth-child(odd) .ui-slider-number { display: none; }
  }
  
  @media (max-width: 400px) {
    .ui-slider-pip:nth-child(2n+1) .ui-slider-number { display: none; }
    .ui-slider-pip:nth-child(4n) .ui-slider-number { display: none; }
  }
  

